
@{
    ViewData["Title"] = "Orders";
}

<div id="app" class="container">
    <h1 class="ml-4">
        Orders Managment
    </h1>
</div>


@section Scripts{
    <script src="~/js/Admin/orders.js"></script>
}