<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; RML Web Store @DateTime.Now.ToString("yyyy")</span>
            <br />
            <p>
                <h4>
                    <a href="https://github.com/rp88imxo"> 
                        <i class="fab fa-github"></i>
                    </a>
                </h4>
            </p>
        </div>
    </div>
</footer>
<!-- End of Footer -->