@{
    ViewData["Title"] = "Checkout";
}

@model ClientOrderInformatiomViewModel

<form asp-action="ClientCheckout">
    <div class="col-md-7">
        <!-- Billing Details -->

        <div class="billing-details">
            <div class="section-title">
                <h3 class="title">Shiping address</h3>
            </div>
            <div class="form-group">
                <label asp-for="FirstNameCustomer"></label>
                <input class="input" asp-for="FirstNameCustomer">
                <span asp-validation-for="FirstNameCustomer"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameCustomer"></label>
                <input class="input" asp-for="LastNameCustomer">
                <span asp-validation-for="LastNameCustomer"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCustomer"></label>
                <input class="input" asp-for="EmailCustomer">
                <span asp-validation-for="EmailCustomer"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressPrimary"></label>
                <input class="input" asp-for="AddressPrimary">
                <span asp-validation-for="AddressPrimary"></span>

            </div>
            <div class="form-group">
                <label asp-for="AddressSecondary"></label>
                <input class="input" asp-for="AddressSecondary">
                <span asp-validation-for="AddressSecondary"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input class="input" asp-for="City">
                <span asp-validation-for="City"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input class="input" asp-for="Country">
                <span asp-validation-for="Country"></span>

            </div>
            <div class="form-group">
                <label asp-for="PostCode"></label>
                <input class="input" asp-for="PostCode">
                <span asp-validation-for="PostCode"></span>
            </div>

        </div>
        <!-- /Billing Details -->
        <!-- Order notes -->
        <div class="order-notes">
            <label asp-for="OrderBuyerComment"></label>
            <textarea class="input" asp-for="OrderBuyerComment"></textarea>
            <span asp-validation-for="OrderBuyerComment"></span>
        </div>
        <!-- /Order notes -->
    </div>

    <!-- Order Details -->
    <div class="col-md-5 order-details">
        <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
            <div class="order-col">
                <div><strong>PRODUCT</strong></div>
                <div><strong>TOTAL</strong></div>
            </div>
            <div class="order-products">
                <div class="order-col">
                    <div>1x Product Name Goes Here</div>
                    <div>$980.00</div>
                </div>
                <div class="order-col">
                    <div>2x Product Name Goes Here</div>
                    <div>$980.00</div>
                </div>
            </div>
            <div class="order-col">
                <div>Shiping</div>
                <div><strong>FREE</strong></div>
            </div>
            <div class="order-col">
                <div><strong>TOTAL</strong></div>
                <div><strong class="order-total">$2940.00</strong></div>
            </div>
        </div>
        <div class="payment-method">
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-1">
                <label for="payment-1">
                    <span></span>
                    Direct Bank Transfer
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-2">
                <label for="payment-2">
                    <span></span>
                    Cheque Payment
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-3">
                <label for="payment-3">
                    <span></span>
                    Paypal System
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="input-checkbox">
            <input type="checkbox" id="terms">
            <label for="terms">
                <span></span>
                I've read and accept the <a href="#">terms & conditions</a>
            </label>
        </div>
        <button type="submit" class="primary-btn order-submit">Place order</button>
    </div>
    <!-- /Order Details -->
</form>