@{
    ViewData["Title"] = "Products";
}

@model List<RmlOnlineShop.Data.Models.Product>

<div class="container">
    <div class="row">
        <h3><a asp-action="CreateProduct">Add a new product</a></h3>
        <div class="col-12 mt-3">
            <table class="table">
                @foreach (var product in Model)
                {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>