@model ProductWithStocksViewModel

@{ 
    ViewData["Title"] = $"{Model.Name}";
}

<div class="container mt-5 py-2 px-4 shadow-sm rounded">
    <h4>Name</h4>
    <p>@Model.Name</p>
    <h4>Description</h4>
    <p>@Model.Description</p>
    <h4>Price</h4>
    <p>@Model.Price</p>
    <form class="form-group" asp-action="ProductPost" asp-controller="Products">
       <input asp-for="Id" hidden readonly/>
        <select asp-items="new SelectList(Model.StocksViewModel)">
            <option value="@Model.StocksViewModel"></option>
        </select>
        <input type="submit" class="btn btn-info" />
    </form>
</div>

